# Environnement virtuel Python
mia_venv/
venv/
env/
ENV/
.venv

# Données
data/train/
data/test/
data/Quality_Assessment.xlsx

# Fichiers temporaires python
__pycache__/
*.pyc

# Modèles sauvegardés
saved_models/